body {
    background-color: #f78c22;
}

h1 {
color:#025157;
text-align: center;
font-family: "Alegreya", serif;
font-size: 60px;
margin-bottom: 24px;
}

p {
    color: #8b8b8bcc;
    font-family: verdana;
    font-size: 20px;
}

button {
    color: #fff;
    background-color: #025157;
}
.parrafo {
    display:block;
    color: #46484c;
    font-family: "Slabo 27px", serif;
    line-height: 25px;
}

li {
    display:inline;
}

.header {
    margin: 40px 20px;
    height: 70px;
    border: solid 4px blue;
    font-family: sans-serif;
}

.header > * {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    border: solid 4px red;
    line-height: 45px;
}

.logo {
    width: 14%;
    font-size: 0;
}

.logo > * {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.navbar {
    width: 70%;
    text-align: center;
    color: #025157;
    font-weight: 500;
    
}

.menu-item {
    margin-right: 7px;
    margin-left: 7px;
}

.actions {
    width: 14%;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
}

.actions > * {
    margin-right: 10px;
    margin-left: 10px;
}

.actions a {
    color: #67b54b;
}

.actions button {
    color: white;
    background-color: #67b54b;
    padding: 14px 12px;
    border: 0;
    border-radius: 5px;
}


.main{
    margin-top: 140px;
    text-align: center;
}
