body {
    background-color: #fffbf7;
}

h1 {
color:#025157;
text-align: center;
font-family: "Alegreya", serif;
}

p {
    color: #8b8b8bcc;
    font-family: verdana;
    font-size: 20px;
}

button {
    color: #fff;
    background-color: #025157;
}

#nav-img{
    weight: 150px;
    height: 150px;
    object-fit: contain;
}

.header {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
}
